
@{
}

<!-- Bao icon và badge -->
<div class="position-relative" style="width: 40px; height: 40px;">
    <a asp-controller="Carts" asp-action="IndexCarts">
        <!-- Icon giỏ hàng -->
        <i class="fas fa-shopping-cart" style="font-size: 24px; color: ghostwhite; padding-top:7px; padding-right:5px"></i>

        <!-- Badge số lượng -->
        <span id="countCartProduct" class="badge rounded-pill bg-danger text-white position-absolute"
              style="top: 0px; right: 0px; font-size: 12px; padding: 4px 6px;">
            
        </span>
    </a>
    
</div>
