@using TTS_boilerplate.Web.Views.Shared.Components.SideBarMenu
@using TTS_boilerplate.Web.Views.Shared.Components.SideBarUserArea
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    @await Html.PartialAsync("_SideBar_user.Logo.cshtml")
    <div style="height:30px">

    </div>
    <div class="sidebar">
         @await Component.InvokeAsync(typeof(SideBarUserAreaViewComponent)) 
         @await Component.InvokeAsync(typeof(SideBarMenuViewComponent))

    </div>
</aside>
