<a class="brand-link" asp-controller="Home" asp-action="Index">
    <img src="https://th.bing.com/th/id/OIP.uYkgUA7R99XoYA-hvhCONAHaFI?w=232&h=180&c=7&r=0&o=5&dpr=1.4&pid=1.7" alt="Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
    <span class="brand-text font-weight-light">Shop Loli</span>
</a>
