@using TTS_boilerplate.Category.Dto
@using TTS_boilerplate.Models
@using TTS_boilerplate.Web.Views.Shared.Components.SideBarMenu
@using TTS_boilerplate.Web.Views.Shared.Components.SideBarUserArea

@{
    var categories = ViewBag.Categories as List<CategoryDto>;
}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    @await Html.PartialAsync("_SideBar_user.Logo.cshtml")
    <div class="sidebar  mt-5">
        <h4>Lọc sản phẩm <hr /></h4>

       <div>
           <label id="test" class="mb-1" data-test="hmmm" for="category">Lọc theo danh mục</label>
           
            @if (categories != null && categories.Any())
            {
                foreach (var category in categories)
                {
                    <div class="checkbox-wrapper-47 ml-3">
                        <input type="checkbox" name="cb" id="cb-@category.Id" />
                        <label id="nameCate" style="font-weight:500"  
                            for="cb-@category.Id">@category.NameCategory - @category.Id</label>
                    </div>
                }
            }
            else
            {
                <p>Không có danh mục nào</p>
            }
        </div>
        <hr />
        <div>
            <label class="mb-1" for="price-range">Lọc theo giá</label>
            <div class="price-range-container">
                <input type="range" id="price-range" name="price-range" min="0" max="1000" step="10"
                    style="width:90%; margin-left:15px">
            </div>
            <div class="row ml-2"> 
                <input type="text" class="inputPrice col-4 text-center " style="background-color: #f8f9fa; cursor: default;" name="minPrice" value="0" readonly/>
                <div class="col-2"></div>
                <input type="text" class="inputPrice col-4 text-center" name="maxPrice" value="" />
            </div>
       </div>
       <hr />

       <button class="btn btn-outline-light mt-2 font-weight-bold" id="btnFilter" style="width:90%; margin-left:15px">Lọc</button>
       @*  <div>
            <label for="price-range">Lọc theo đánh giá</label>
           
        </div>
           
        <div class="checkbox-wrapper-47">
            <input type="checkbox" name="cb" id="cb-47" />
            <label for="cb-47">Check this</label>
        </div> *@
    </div>
</aside>




   

    <style>
    /* Tùy chỉnh nút trượt (thumb) */
    input[type="range"]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 20px;
        height: 20px;
        background: #F93F2E;
        border-radius: 50%;
        cursor: pointer;
        transition: background .15s ease-in-out;
    }
    /* Tùy chỉnh màu của phần đã trượt qua */
    input[type="range"]::-webkit-slider-runnable-track {
        background: linear-gradient(to right, #F93F2E var(--value-percent), #ddd var(--value-percent));
    }
    .inputPrice{
        width: 70px;
        height: 30px;
        margin-left: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;
    }

    .checkbox-wrapper-47 input[type="checkbox"] {
          display: none;
          visibility: hidden;
        }

        .checkbox-wrapper-47 label {
          position: relative;
          padding-left: 2em;
          padding-right: 1em;
          line-height: 2;
          cursor: pointer;
          display: inline-flex;
        }

        .checkbox-wrapper-47 label:before {
          box-sizing: border-box;
          content: " ";
          position: absolute;
          top: 0.3em;
          left: 0;
          display: block;
          width: 1.2em;
          height: 1.2em;
          border: 1px solid #9098A9;
          border-radius: 6px;
          z-index: -1;
        }

        .checkbox-wrapper-47 input[type=checkbox]:checked + label {
          padding-left: 1em;
          color: #0f5229;
        }
        .checkbox-wrapper-47 input[type=checkbox]:checked + label:before {
          top: 0;
          width: 100%;
          height: 2em;
          background: #b7e6c9;
          border-color: #2cbc63;
        }

        .checkbox-wrapper-47 label,
        .checkbox-wrapper-47 label::before {
          transition: 0.25s all ease;
        }
    </style>
